body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

@keyframes hbgradientChange {
    0% {
        background: linear-gradient(45deg, rgb(173, 77, 93), lightgreen, skyblue);
    }

    10% {
        background: linear-gradient(45deg, green, skyblue, lightskyblue);
    }

    20% {
        background: linear-gradient(45deg, blue, lightskyblue, bisque);
    }

    30% {
        background: linear-gradient(45deg, goldenrod, bisque, pink);
    }

    40% {
        background: linear-gradient(45deg, yellow, pink, yellowgreen);
    }

    50% {
        background: linear-gradient(45deg, red, yellowgreen, lightcyan);
    }

    60% {
        background: linear-gradient(45deg, yellowgreen, lightcyan, rgb(120, 120, 218));
    }

    70% {
        background: linear-gradient(45deg, rgb(100, 158, 158), rgb(120, 120, 218), rgb(199, 175, 199));
    }

    80% {
        background: linear-gradient(45deg, rgb(120, 120, 218), rgb(199, 175, 199), rgb(24, 186, 207));
    }

    90% {
        background: linear-gradient(45deg, rgb(199, 175, 199), rgb(24, 186, 207), rgb(193, 198, 197));
    }

    100% {
        background: linear-gradient(45deg, rgb(24, 186, 207), rgb(193, 198, 197), pink);
    }
}

@keyframes bgradientChange {
    0% {
        background: linear-gradient(45deg, #ffccf2, #e0f7fa, #4b97ba);
    }

    10% {
        background: linear-gradient(45deg, #e0f7fa, #b3e5fc, #223f44);
    }

    20% {
        background: linear-gradient(45deg, #b3e5fc, #d0e0e3, #ccd37b);
    }

    30% {
        background: linear-gradient(45deg, #d0e0e3, #f0f4c3, #e175c6);
    }

    40% {
        background: linear-gradient(45deg, #f0f4c3, #ffccf2, #83dd86);
    }

    50% {
        background: linear-gradient(45deg, #ffccf2, #c8e6c9, #3d5554);
    }

    60% {
        background: linear-gradient(45deg, #c8e6c9, #e0f2f1, #739685);
    }

    70% {
        background: linear-gradient(45deg, #e0f2f1, #dbe5e0, #6463c5);
    }

    80% {
        background: linear-gradient(45deg, #dbe5e0, #b3e5fc, #c8e6c9);
    }

    90% {
        background: linear-gradient(45deg, #b3e5fc, #c8e6c9, #61d88f);
    }

    100% {
        background: linear-gradient(45deg, #c8e6c9, #e0f4c3, #ffccf2);
    }
}

/* font color change */
@keyframes fcolorChange {
    0% {
        color: rgb(102, 12, 12);
    }

    25% {
        color: rgb(139, 139, 9);
    }

    50% {
        color: rgb(2, 113, 2);
    }

    75% {
        color: rgb(2, 2, 221);
    }

    100% {
        color: red;
    }
}

.wholeb {
    animation: bgradientChange 20s infinite;
}

header {
    animation: hbgradientChange 20s infinite, fcolorChange 10s infinite;
    padding: 10px 0;
    text-align: center;
}

h3{
    animation: fcolorChange 10s infinite;
}

.header-container h1 {
    margin: 0;
    font-size: 24px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    text-align: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h2 {
    color: #333;
}

h3 {
    color: #666;
}

ul {
    text-align: left;
    display: inline-block;
    margin: 20px 0;
}

li {
    margin: 10px 0;
}

.start-btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    animation: bgradientChange 20s infinite, fcolorChange 10s infinite;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
}

.start-btn:hover {
    background-color: #0056b3;
}

footer {
    animation: hbgradientChange 20s infinite, fcolorChange 10s infinite;
    text-align: center;
    padding: 10px;
}

.footer-container p {
    margin: 5px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icons {
    height: 24px;
    width: 24px;
    border-radius: 10px;
    transition: height 1s linear, width 1s linear;
    padding: 5px;
}

.icons:hover {
    height: 27px;
    width: 27px;
}